body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .container {
    background: #fff;
    border-radius: 10px;
    background-color: pink;
    padding: 30px;
    width: 400px;
    text-align: center;
  }
  
  
  .to-do {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .addTask input{
    flex-grow: 1;
    padding: 17px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 50px;

  }
  
  .btn {
    background: green;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 17px;
    
  }

  
  .taskList {
    margin-top: 20px;
  }
  
  .list {
    padding: 0;
    margin: 0;
  }
  
  .list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 10px;
    background: #fff;
  }

  
  .list li.text {
    flex-grow: 1;
    font-size: 17px;
  }
  
